main {
  width: 200px;
  height: 200px;
  background-color: rgb(39, 39, 39);
  margin: auto;
  margin-top: 15px;
  border-radius: 30px;
}
img {
  width: 3px;
  height: 8px;
  margin: 10px 16px 0 0;
}
.logo {
  display: inline-block;
}
.druga {
  margin: 0 0 0 3px;
}
.card-number {
  color: white;
  margin-top: 50px;
  line-height: 0.5;
  margin-left: 15px;
  letter-spacing: 5px;
}
.name {
  color: white;
  margin-top: 15px;
  margin-left: 15px;
  height: 100px;
  display: inline-block;
}
.right-corner {
  color: white;
  display: inline-block;
  line-height: 0.5;
  margin-left: 500px;
  margin-top: -180px;
  margin-bottom: 70px;
}
.ime {
  width: 30%;
  letter-spacing: 5px;
  margin-top: 20px;
}
