* {
  margin: 0px;
  box-sizing: border-box;
}

.parent {
  margin: 20px;
  padding-top: 15px;
  background-color: aquamarine;
  height: 200vh;
  position: relative;
}

.child1 {
  background-color: rgb(244, 232, 232);
  height: 50px;
  /* position: static; defaultna vrednost*/
  position: relative;
  /* top: 40px; */
  /* left: 10px; */
  position: absolute;
  right: 100px; /* dozvoljene su i negativne vrednosti */
  bottom: 50px;
}
.child2 {
  background-color: rgb(142, 42, 165);
  height: 50px;
  position: fixed;
  top: 0px;
  left: 50%;
  z-index: 5;
}
.child3 {
  background-color: rgb(165, 157, 42);
  height: 50px;
  position: sticky;
  top: 20px;
}
.child4 {
  background-color: rgb(255, 18, 18);
  height: 50px;
}
