* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  width: 100%;
  background-color: blue;
  text-align: center;
}
/* .container {
  border: 0.5rem solid green;
  display: flex;
  justify-content: space-around;
  height: 20vh;
  align-items: flex-end;
} */

.main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 0.5rem solid green;
  height: 50vh;
  background-color: darkkhaki;
}

.second {
  width: 300px;
  height: 90%;
  border: 0.3rem solid black;
}
.four {
  width: 300px;
  height: 90%;
  border: 0.3rem solid black;
}
.third {
  width: 300px;
  height: 90%;
  border: 0.3rem solid black;
}

/* .second {
  width: 230px;
  height: 80%;
  background-color: black;
} */
