* {
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

header {
  width: 100%;
  height: 150px;
  background-color: rgb(255, 0, 0);
  position: sticky;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}

.logo {
  flex-grow: 1;
}
.links {
  /* background-color: blue; */
  flex-grow: 9;
}
.links ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  gap: 18px;
  font-size: 18px;
}

.links ul li a {
  text-decoration: none;
  color: black;
  transition: transform 1.3s ease-in;
}
.links ul li {
  transition: transform 0.3s ease-in;
}

.lins ul li:hover {
  transform: scale(1.2);
}

main {
  width: 100%;
  min-height: 78vh;
  background-color: rgb(241, 241, 241);
  padding-left: 50px;
  padding-right: 50px;
}

footer {
  height: 12vh;
  background-color: aqua;
  color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
}
