body {
  background-color: rgb(0, 255, 251);
}
.main {
  width: 500px;
  height: 500px;
  background-color: darkslategrey;
  border: 3px solid black;
  /* border: 3px dashed black; */
  /* border: 3px solid black; */
  /* border: 3px dotted black; */
  /* margin: 50px; margina u odnosu na sve cetiri strane */
  margin-top: 30px;
  /*margina u odnosu na gornji element  */
  margin-bottom: 10px; /* margina u odnosu na donji element */
  margin-right: 30px; /* margina u odnosu na desni element*/
  margin-left: 30px; /* margina u odnosu na levi element*/
  margin: 50px 40px 30px 20px; /* top right bottom left*/
  margin: 50px 20px; /*top & bottom,right & left*/
  margin: auto; /*auto- podjednako udaljen element od leve i desne strane*/
  padding: 10px 25px;
  /* border-radius: 10px 5px 15px 0px; */
  border-bottom-left-radius: 10pxp;
}

.second {
  width: 500px;
  height: 500px;
  background-color: aliceblue;
}
.main p {
  text-align: justify;
}
