* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.parent {
  margin: auto;
  width: 700px;
  height: 700px;
  background-color: blueviolet;
  display: flex;
  justify-content: space-around;
  /* gap: 10px; */
  align-items: center;
  /* align-items: flex-end; */
  /* flex-direction: column; */
}

.child {
  width: 450px;
  /* height: 150px; */
  flex-grow: 1;
  flex-shrink: 1;
}

.child:nth-of-type(1) {
  background-color: aqua;
  /* align-self: flex-start; */
  /* order: 3; */
  flex-shrink: 5;
}
.child:nth-of-type(2) {
  background-color: rgb(255, 208, 0);
  display: flex;
  justify-content: center; /* horizontalno poravnjenje */
  justify-content: center; /* vertikalno poravnjenje */
  align-items: center;
  /* order: 1; */
  flex-grow: 2;
}
.child:nth-of-type(3) {
  background-color: rgb(17, 255, 0);
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  /* align-self: flex-end; */
}

.child p {
  font-size: 2.5em;
}

/* .child:nth-of-type(4) { */
/* background-color: rgb(220, 16, 16); */
